/* ? CHANGE PASSWORD: */
.edit-div {
    animation: slideUp .5s ease forwards .4s;
}
.password-hero {
    padding-bottom: clamp(100px, 1vw, 200px);
}
.profile-form-box3 {
    margin-bottom: clamp(40px, 1vw, 70px);
}

/* ? CHANGE PASSWORD RESPONSIVENESS: */

@media screen and (max-width: 590px) {
    .password-toggles {
        justify-content: space-between;
    }
    .password-toggles div {
        flex-basis: 49%;
    }
}